/*
  lokker.css :: style sheet for lokker interactive
  (c) 2021 Jose Alvarez
*/
body {
  background-color: rgb(25,25,25);
  color: white;
  font-family: verdana,sans-serif;
}


h1 {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;

  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  color: yellow;
  text-align: left;
  font-size: 24px ;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;

  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  color: lightgreen;
  text-align: left;
  font-size: 9px ;
}
a, u {
  color: lightgreen;
  text-decoration: none;
}
#cr {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;

  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;

  color: lightgreen;
  text-align: left;
  font-size: 7px ;
}

p {
  font-size: 10px;
  color: yellow;
}

#content {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    width: 100%; 
    overflow: hidden;
}

#interactive {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    
    width: 600px; 
    float: left;
}

#globe {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
     
    position: absolute; 
    z-index: 1
}

#chart {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
     
    position: absolute; 
    z-index: 0
}

button {
  background: #423F3F;
  background-image: -webkit-linear-gradient(top, #423F3F, #030303);
  background-image: -moz-linear-gradient(top, #423F3F, #030303);
  background-image: -ms-linear-gradient(top, #423F3F, #030303);
  background-image: -o-linear-gradient(top, #423F3F, #030303);
  background-image: linear-gradient(to bottom, #423F3F, #030303);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 24px;
  line-height: 0px;
  color: #FFFFFF;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 900;
  padding: 9px;
  box-shadow: 1px 1px 6px 0px #000000;
  -webkit-box-shadow: 1px 1px 6px 0px #000000;
  -moz-box-shadow: 1px 1px 6px 0px #000000;
  text-shadow: 1px 1px 6px #000000;
  border: solid #000000 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

button:hover {
  border: solid #000000 1px;
  background: #030303;
  background-image: -webkit-linear-gradient(top, #030303, #423F3F);
  background-image: -moz-linear-gradient(top, #030303, #423F3F);
  background-image: -ms-linear-gradient(top, #030303, #423F3F);
  background-image: -o-linear-gradient(top, #030303, #423F3F);
  background-image: linear-gradient(to bottom, #030303, #423F3F);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}